.container-fluid, .footer {
	background-color: #31708f;
}

nav {
	font-size: 12pt;
	border: 1px solid #31708f !important;
	border-radius: 0 !important;
}

.navbar-nav > li > a {
	color: #f7f7f7 !important;
	transition: all 0.2s;
}

.navbar-nav > li > a:hover {
	color: #e1e1e1 !important;
}

.navbar-nav > li {
	padding: 0 14px;
}

.footer p {
	color: white !important;
}
.full-screen{
	height: 100vh;
	width: 100%;
}

.full-screen .jumbotron{
	margin-bottom: 0;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.btn-default{
	color: #333!important;
}

.container.center{
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

form.center {
	width: 600px!important;
}